.product-container{
    border: 2px solid rgba(246, 246, 251,1);
    padding: 5px;
    text-decoration: none;
    color:black;
    img{
        width: 100%;
        object-fit: contain;
        height: 75%;
    }
    .description{
        width: 100%;
        display: flex;
        font-size: 18px;
        font-weight: 600;
        height: 20%;
        align-items: flex-end; 
        .name{
            width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .price{
            width: 50%;
            text-align: end;
        }
    }
}