.admin-home-container {
    background-color: rgb(213, 232, 252);
    display: flex;

    .content-right {
        width: 80%;
        margin-left: 300px;
        .content {
            border-radius: 10px;
            margin: 40px auto;
            width: 95%;
            background-color: white;
            .heading{
                margin: 20px 0;
                padding: 10px 20px;
                font-size: 30px;
                display: flex;
                justify-content: space-between;
                .create-btn{
                    border: none;
                    background-color: rgb(214, 225, 236);
                    padding: 4px 10px;
                    border-radius: 6px;
                }
            }
            .table {
                margin-left: auto;
                margin-right: auto;
                width: 95%;
                tbody{
                    width: 100%;
                    tr{
                        display: flex;
                        td,th{
                            border-bottom-width:0px;
                            margin-top: auto;
                            margin-bottom: auto;
                            text-align: center;
                            flex: 1;
                            overflow: hidden;
                            font-size: 14px;
                            color: rgb(90, 90, 90);
                            img{
                                width: 100%;
                                object-fit: contain;
                            }
                        }
                        
                    }
                    tr:first-child {
                        td {
                            padding: 10px 6px;
                            flex: 1;
                            background-color: rgb(214, 225, 236);
                            color: black; /* text color for title row */
                            font-weight: bold; /* optional: make the text bold */
                            
                        }
                    }
                    .productName{
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .delete-btn{
                        border: none;
                        background-color: rgb(214, 225, 236);
                        padding: 4px 10px;
                        border-radius: 6px;
                    }
                }
            }
        }
        .create-modal{
            .modal-overlay{
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 3;

            }
            .modal-container{
                background-color: white;
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 4;
                width: 40%;
                height:max-content;
                margin: auto;
                display: inline-block;
                border-radius: 10px;
                .modal-heading{
                    text-align: center;
                    padding: 10px;
                    position: relative;
                    span{
                        font-size: 26px;
                        color:cornflowerblue;
                    }
                    .close-btn{
                        position: absolute;
                        top:0;
                        right: 20px;
                        font-size: 22px;
                        color: black;
                        margin-top: 10px;
                        cursor: pointer;
                    }
                }
                .modal-content{
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    .form-input{
                        padding: 20px;
                        width: 40%;
                        label{
                            color:rgb(67, 87, 122);
                            margin-right: 6px;
                            padding: 5px 0;
                        }
                        .modal-input{
                            border:1px gray solid;
                            padding: 4px 8px;
                            border-radius: 4px;
                        }
                    }
                }
                .modal-create{
                    text-align: end;
                    margin-right: 50px;
                    margin-bottom: 20px;
                    padding: 10px;
                    button{
                        border: none;
                        padding: 10px 40px;
                        border-radius: 10px;
                        background-color:cornflowerblue;
                        color:white;
                    }
                }
            }
        }
    }
}